/* BASE STYLING */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(28, 28, 49);
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* SOME CUSTOM CLASSES  */
.container {
  width: min(1200px, 95%);
  margin: auto;
  padding: 2rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAVBAR */
.navbar .title {
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 3px solid rgb(136, 37, 37);
  font-family: serif;
}

.links>* {
  font-size: 1.1rem;
  margin-right: 1.2rem;
  padding: .5rem 1rem;
  border-radius: 10px;
  transition: 300ms ease-in;
}

.links>*:hover {
  color: rgb(136, 37, 37);
}

.links:last-child {
  margin-right: 0;
}

.links>*.active {
  background-color: rgb(136, 37, 37);
  color: white;
}

/* HOME PAGE , ABOUT PAGE */
.home h1,
.about h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.home p,
.about p {
  width: min(450px, 95%);
  margin: 0 auto 1rem;
}


/* HELP PAGE */
.help-title {
  margin-bottom: 1.5rem;
}

.help-links {
  width: 100%;
  margin: 3rem 0;
  text-align: center;
}

.help-links>*:first-child {
  margin-right: 2rem;
}

.help-links>* {
  padding: .6rem 1.1rem;
  border: 1px solid rgb(136, 37, 37);
  transition: 300ms ease-in;
}

.help-links>*.active {
  background-color: rgb(136, 37, 37);
  color: white;
  border: 1px solid white;
}


/* ERROR(NOT FOUND) PAGE */
.error-link {
  display: inline-block;
  margin: 2rem auto;
  border: 2px solid white;
  padding: .5rem 1rem;
  transition: 300ms ease-in;
}

.error-link:hover {
  background-color: white;
  color: rgb(28, 28, 49);
}


/* FAQ PAGE */
.faq h2 {
  text-align: center;
  font-size: 2rem;
  border-bottom: 3px solid rgb(136, 37, 37);
  width: fit-content;
  margin: auto;
}

.faq .question {
  width: min(700px, 90%);
  margin: 2rem auto;
  border: 1px solid white;
  padding: 2rem 1rem;
}

.question h1 {
  margin-bottom: 1rem;
}

/* CONTACT PAGE */
.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.form>* {
  width: min(400px, 95%);
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
}

.form>* label {
  text-align: center;
  margin-bottom: 1rem;
}

.form>* input {
  padding: .4rem .8rem;
}

.form>* textarea {
  padding: .4rem .8rem;
  font-size: 1.1rem;
  min-height: 120px;
}

.form button {
  width: fit-content;
  padding: .8rem 1.4rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(136, 37, 37);
  color: white;
  border: 1px solid rgb(136, 37, 37);
  transition: 300ms ease-in;
}

.form button:hover {
  opacity: .8;
}